*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.mamae{
    width: 920px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;      
    padding: 20px;
    border: 2px dashed salmon;
}

.mamae__filinho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgb(250, 114, 216);
    border: 2px dashed black;
}

.filinho--azul{
  background-color: blue;
  color: white;
}


