*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(231, 79, 203);
}

/*tablet*/
@media screen and (max-width: 991px){
    h1{
        color: rgb(207, 37, 173);
     
    }
    
img{
    display: none;
}
}



/*Mobile*/
@media screen and (max-width: 767px){
    h1{
        background-color: rgb(227, 88, 174);
        color: white;
    }
    img{
        display: inline-block;
    }
}